<a href="https://colab.research.google.com/github/eklavya89/codeacademy-sample-projects-/blob/master/1_Python_101_Variables_Assignment%2C_Math_Ops%2C_Precedence%2C_and_Print_Get_Skeleton.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1. VARIABLES ASSIGNMENT

In [ ]:
# Define a variable named "portfolio_1" and assign a number (integer) to it

In [43]:
portfolio_1 = 10

In [4]:
portfolio_1

10

In [ ]:
# Let's view "portfolio_1"

In [ ]:
# Define a variable named "portfolio_2" and assign a number (float) to it

In [5]:
portfolio_2 = 2.0

In [ ]:
# Let's view "portfolio_2"

In [6]:
portfolio_2

2.0

In [ ]:
# Let's overwrite "portfolio_2" (assume your portfolio value increased)

In [8]:
portfolio_2 = 5.0

In [9]:
portfolio_2

5.0

In [ ]:
# Notice that "portfolio_2" will only contain the most recent value

In [ ]:
# Get the type of "portfolio_1" which is integer
# integer is a whole number (no decimals) that could be positive or negative

In [ ]:
# Get the type of "portfolio_2" which is float
# Float are real numbers with a decimal point dividing the integer and fractional parts

**MINI CHALLENGE #1:**
- **We defined a variable AMZN (Ticker symbol for Amazon stock) and we assigned these 3 values listed below to it. Without executing any code cells, what will these lines of code generate?**
- **Verify your answer by executing the code cells** 



```
AMZN = 3324
AMZN = 3400
AMZN = 3530
AMZN
```

In [11]:
AMZN = 3324
AMZN = 3400
AMZN = 3530
AMZN

3530

**MINI CHALLENGE #2:**
- **We defined a variable AAPL (Ticker symbol for Apple stock) and we assigned these 2 values listed below to it. Without executing any code cells, what will these lines of code generate?**
- **Verify your answer by executing the code cells** 



```
AAPL = 112
AAPL = 115.3
type(AAPL)
```

In [12]:
AAPL = 112
AAPL = 115.3
type(AAPL)

float

# 2. MATH OPERATIONS

In [ ]:
# Define a variable named AAPL and initialize it with 5 indicating that we own 5 stocks
# Let's assume that we bought an additional stock so now we have 6 stocks instead of 5 
# We can increment AAPL by 1 stock as follows:

In [16]:
AAPL = 5

In [17]:
AAPL + 1

6

In [ ]:
# Alternatively, we can increment the variable AAPL by 1 as follows:

In [ ]:
# Let's assume that the price of AAPL stock is $260 and we currently have 5 AAPL stocks in our portfolio
# We can calculate the total portfolio value (account balance) as follows:

In [ ]:
AAPL = 5

In [18]:
AAPL * 260

1300

In [22]:
# Let's assume you have $20000 USD in our account
# We want to buy AMZN stocks using the total amount 
# AMZN stock is priced at $3116 each
Account = 20000
AMZN = 3116

In [25]:
# Divide the account balance by Amazon stock price and place the answer in units
units = Account / AMZN
units

6.418485237483954

**MINI CHALLENGE #3:** 
- **Write a code that calculates the total value of a portfolio assuming that you own 15 Google stocks (Sticker Symbol: GOOG) priced at 1500 each**

In [27]:
GOOG = 1500
portfolio = GOOG*15
portfolio

22500

**MINI CHALLENGE #4:**
- **Write a code that takes in Google (GOOG) stock prices at two days and calculate the return:**
  - **GOOG price on day 1 = \$260** 
  - **GOOG price on day 2 = \$280**

In [31]:
GOOG_day1 = 260
GOOG_day2 = 280
total  = GOOG_day2 - GOOG_day1
total

20

# 3. ORDER OF OPERATIONS (PRECEDENCE)

In [32]:
# add 3 and 4 and then multiply the answer by 5
# Note that parantheses have the highest precedence
number = 3 + 4 * 5
number

23

In [ ]:
# Multiplication has higher precedence compared to addition

In [ ]:
# Division has higher precedence compared to addition

**MINI CHALLENGE #5:**
- **Assume that you own 15 shares of AAPL stock priced at \$150 a share. Apple announced the launch of 5 new products with exceptional features so the stock price increased to $170 a share. Calculate the total profit.**

In [35]:
APPL = 150
portolio = APPL * 15
APPL = 170
portolio2 = APPL * 15
profit = portolio - portolio2
profit

-300

**MINI CHALLENGE #6:** 
- **Write a code that performs the following mathematical operation: z = |x − y| * (x + y)**

In [40]:
x = 10
y = 20
z = |x - y| * (x + y)
z

SyntaxError: ignored

# 4. PRINT OPERATION

In [ ]:
# Print function is used to print elements on the screen
# Define a string x 
# A string in Python is a sequence of characters
# String in python are surrounded by single or double quotation marks

In [44]:
# Obtain the data type for 'x'
x = 'x'
type(x)

str

In [ ]:
# Print x

In [3]:
# Define a string and put 'Apple Inc.' in it
company_name = 'Apple Inc'

In [5]:
# The format() method formats the specified value and insert it in the placeholder. 
# The placeholder is defined using curly braces: {}
print('Ticker name for {} is APPL.'.format(company_name))

Ticker name for Apple Inc is APPL.

In [6]:
shares = 30

In [7]:
# You can place two or more placeholders with print function 
print('i own {} shares of {}'.format(shares, company_name))

i own 20 shares of Apple Inc

**MINI CHALLENGE #7:**
- **Write a code that print out the above statement along with AAPL ticker**
- **i.e.: I own 30 shares of Apple Inc.(AAPL)**

In [10]:
ticker = 'APPL'
print('i own {} of {}.({})'.format(shares, company_name, ticker))

i own 20 of Apple Inc.(APPL)

# 5. GET USER INPUT

In [11]:
# input is a built-in function in python
# Get bank client name as an input and print it out on the screen 
name = input("welcome to the bank, what's your name: ")

welcome to the bank, what's your name: nitesh

In [12]:
name

'nitesh'

In [4]:
# Obtain bank client data such as name, age and assets and print them all out on the screen
name = input('welcome to the bank, please enter your name:')
age = input('enter your age:')
networth = input('enter your total networth(assets - liabilities ')
print( ' My name is {}, I am {} years old, and my net worth is {}'.format(name, age, networth))

welcome to the bank, please enter your name:nitesh
enter your age:31
enter your total networth(assets - liabilities 20lac
 My name is nitesh, I am 31 years old, and my net worth is 20lac

In [5]:
# Obtain user inputs, perform mathematical operation, and print the results 
# Note: Are you getting an error? Move to the next code cell 
x = input('please enter the price of AAPL stock today')
y = input('Enter the number of AAPL stocks theat you want to buy')
print('Total funds required to buy {} shares of AAPL stock at {} dollars is {}'.format(y,x, x*y))

please enter the price of AAPL stock today3000
Enter the number of AAPL stocks theat you want to buy20

TypeError: ignored

In [6]:
# Convert from string datatype to integer datatype prior to performing addition
x = input('please enter the price of AAPL stock today')
x = int(x)
y = input('Enter the number of AAPL stocks theat you want to buy')
y = int(y)

print('Total funds required to buy {} shares of AAPL stock at {} dollars is {}'.format(y,x, x*y))

please enter the price of AAPL stock today3000
Enter the number of AAPL stocks theat you want to buy20
Total funds required to buy 20 shares of AAPL stock at 3000 dollars is 60000

**MINI CHALLENGE #8:** 
- **Write a code that takes in the name of the stock, price at which it is selling, the number of stocks that you want to own and prints out the total funds required to buy this stock. Find a sample expected output below:**

  - Enter the price of the stock you want to buy: 3000  
  - Enter the number of stocks that you want to buy: 5
  - Enter the name of the stock that you want to buy: AMZN
  - The total funds required to buy 5 number of AMZN stocks at 3000 is 15000

In [12]:
x = input('please enter the price of the srock:')
x = int(x)
y = input('please enter the number of stocks you want to buy:')
y = int(y)
name = input('please enter the stocks symbol:')
print('The total funds required to buy {} number of {} stocks at {} is {}'.format(x, name, y, x*y))

please enter the price of the srock:3000
please enter the number of stocks you want to buy:5
please enter the stocks symbol:AMZN
The total funds required to buy 3000 number of AMZN stocks at 5 is 15000

# EXCELLENT JOB

# MINI CHALLENGES SOLUTIONS

**MINI CHALLENGE #1:**
- **We defined a variable AMZN (Ticker symbol for Amazon stock) and we assigned these 3 values listed below to it. Without executing any code cells, what will these lines of code generate?**
- **Verify your answer by executing the code cells** 



```
AMZN = 3324
AMZN = 3400
AMZN = 3530
AMZN
```

In [ ]:
# The output of this code is 3530
# Initially we put 3324 in AMZN, then we overwrite it by placing 3400 in AMZN, and then 3530 in AMZN
AMZN = 3324
AMZN = 3400
AMZN = 3530
AMZN

**MINI CHALLENGE #2:**
- **We defined a variable AAPL (Ticker symbol for Apple stock) and we assigned these 2 values listed below to it. Without executing any code cells, what will these lines of code generate?**
- **Verify your answer by executing the code cells** 



```
AAPL = 112
AAPL = 115.3
type(AAPL)
```

In [ ]:
AAPL = 112
AAPL = 115.3
type(AAPL)

**MINI CHALLENGE #3 SOLUTION:** 
- **Write a code that calculates the total value of a portfolio assuming that you own 15 Google stocks (Sticker Symbol: GOOG) priced at 1500 each**

In [ ]:
price  = 1500
x  = 15
amount = x * price
amount

**MINI CHALLENGE #4 SOLUTION:**
- **Write a code that takes in Google (GOOG) stock prices at two days and calculate the return:**
  - **GOOG price on day 1 = \$260** 
  - **GOOG price on day 2 = \$280**

In [ ]:
GOOG_price_1 = 260
GOOG_price_2 = 280

price_diff = GOOG_price_2 - GOOG_price_1
percentage_change = price_diff / GOOG_price_1 * 100

percentage_change

**MINI CHALLENGE #5 SOLUTION:**
- **Assume that you own 15 shares of AAPL stock priced at \$150 a share. Apple announced the launch of 5 new products with exceptional features so the stock price increased to $170 a share. Calculate the total profit.**

In [ ]:
AAPL_new = 170
AAPL_old = 150
num_shares = 15
profit = (AAPL_new - AAPL_old) * num_shares   
profit

**MINI CHALLENGE #6 SOLUTION:** 
- **Write a code that performs the following mathematical operation: z = |x − y| * (x + y)**

In [ ]:
x = 4
y = 2
z = abs(x-y) * (x+y)

**MINI CHALLENGE #7 SOLUTION:**
- **Write a code that print out the above statement along with AAPL ticker**
- **i.e.: I own 30 shares of Apple Inc.(AAPL)**

In [ ]:
ticker = 'AAPL'
print("I own {} shares of {}({})".format(shares, company_name, ticker))

**MINI CHALLENGE #8 SOLUTION:** 
- **Write a code that takes in the name of the stock, price at which it is selling, the number of stocks that you want to own and prints out the total funds required to buy this stock. Find a sample expected output below:**

  - Enter the price of the stock you want to buy: 3000  
  - Enter the number of stocks that you want to buy: 5
  - Enter the name of the stock that you want to buy: AMZN
  - The total funds required to buy 5 number of AMZN stocks at 3000 is 15000

In [ ]:
x = input("Enter the price of the stock you want to buy: ")
x = int(x)
y = input("Enter the number of stocks that you want to buy: ")
y = int(y)
z = input("Enter the name of the stock that you want to buy: ")
print('The total funds required to buy {} number of {} stocks at {} is {}'.format(y,z,x, x*y))